.about-container{
    row-gap: 2.5rem;
}

.about-img{
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about-data{
    text-align: center;
}

.about-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}

.about-box{
    background-color: var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about-icon{
    font-size: 1.5rem;
    color: var(--first-color);
    fill: var(--fitst-color);
    margin-bottom: .5rem;
}

.about-title{
    font-size: var(--small-font-size);
}

.about-subtitle{
    font-size: var(--tiny-font-size);
}

.about-description{
    margin-bottom: 2rem;
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover{
    background-color: var(--first-color-alt);
    color: var(--body-color);
}