
@import url('../../variable.css');
.home-container{
    position: relative;
    row-gap: 2.5rem;
    padding-top: 2rem;
}

.home-data{
    text-align: center;
}

.home-greeting, .home-education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home-greeting{
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;
}
.home-education{
    color: var(--text-color);
    /* margin-bottom: 2.5rem; */
}

.home-name{
    font-size: var(--biggest-font-size);
}

.home-img{
    width: 100%;
    position: relative;
    top: 18%;
}

.home-handle{
    justify-self: center;
    width: 220px;
    height: 330px;
    background: linear-gradient(180deg,
    hsla(var(--fist-hue), var(--sat), var(--lig), 1),
    hsla(var(--fist-hue), var(--sat), var(--lig), .2));
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home-social, .home-scroll{
    position: absolute;
}

.home-social{
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    display: grid;
    row-gap: .5rem;
}

.home-social-link{
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    fill: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
}

.home-social-link:hover{
    background-color: var(--first-color);
    color: #fff;
    fill: #fff;
}

.home-social::after{
    content: '';
    height: 2px;
    width: 32px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
}

.home-scroll{
    color: var(--first-color);
    fill: var(--first-color);
    right: -1rem;
    bottom: 6rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}

.home-scroll-icon{
    font-size: 1.25rem;
}

.home-scroll-name{
    font-size: var(--small-font-size);
    transform: rotate(-90deg);
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

@media screen and (max-width: 320px){
    .home-buttons{
        flex-direction: column;
    }
    .home-handle{
        width: 150px;
        height: 253px;
    }
    .home-img{
        width: 130px;
    }
}

@media screen and (min-width: 992px) {
    .home-handle{
        width: 269px;
        height: 400px;
    }
    .home-social{
        padding: .4rem;
        font-size: 1.525rem;
    }
    .home-social::after{
        transform: rotate(90deg) translate(16px, 0);
    }
    .home-scrol-icon{
        font-size: 2rem;
    }
}